.selection-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__row {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}